/* navbar header */
.navbar {
  /* background: linear-gradient(to right, #E8C41A, #FDE92D); Gradient background color */
  animation: slide-in-top 0.5s ease-in-out both;
}

.navbar:hover {
  background-color: #F9A51A;
  transition: background-color 0.5s ease-in-out;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* login button animation */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

#loginModal.fade.show {
  opacity: 1;
}

#loginModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 270px;
}

#loginModal .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 210px);
}

#loginModal .modal-dialog .modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

#loginModal .modal-header {
  background-color: #333;
  color: #fff;
  border-bottom: 0;
}

#loginModal .modal-footer {
  background-color: #f7f7f7;
}

#loginModal .form-group input[type="text"],
#loginModal .form-group input[type="password"] {
  border: 1px solid #333;
  border-radius: 0;
}

#loginModal .form-group input[type="text"]:focus,
#loginModal .form-group input[type="password"]:focus {
  border-color: #333;
  box-shadow: 0 0 2px 0px #333;
  outline: none;
}

#loginModal .btn-secondary:hover {
  background-color: #333;
  color: #fff;
}

.fade-in-modal {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Registration Modal */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

#registerModal.fade.show {
  opacity: 1;
}

#registerModal .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  /* margin-top: 300px; */
  top: 280px;
}

#registerModal .modal-body {
  overflow-y: auto;
  max-height: calc(75vh - 140px);
}

#registerModal .modal-dialog .modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

#registerModal .modal-header {
  background-color: #333;
  color: #fff;
  border-bottom: 0;
}

#registerModal .modal-footer {
  height: 30px;
  background-color: #f7f7f7;
}

#registerModal .form-group input[type="text"],
#registerModal .form-group input[type="tel"],
#registerModal .form-group input[type="radio"],
#registerModal .form-group input[type="password"] {
  border: 1px solid #333;
  border-radius: 0;
}

#registerModal .form-group input[type="text"]:focus,
#registerModal .form-group input[type="tel"]:focus,
#registerModal .form-group input[type="radio"]:focus,
#registerModal .form-group input[type="password"]:focus {
  border-color: #333;
  box-shadow: 0 0 2px 0px #333;
  outline: none;
}

#registerModal .btn-secondary:hover {
  background-color: #333;
  color: #fff;
}

.fade-in-modal {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* carosuel */
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #999;
  cursor: pointer;
  animation: indicator-pulse 1s ease-in-out infinite;
}

@keyframes indicator-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.carousel-indicators .active {
  background-color: #333;
  animation: indicator-pulse 1s ease-in-out infinite;
}

.carousel-item {
  animation: slide-fade-in 1s;
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Input box modal */
.form-group {
  transition: all 2s ease;
  opacity: 0;
  transform: translateY(200px);
}

.form-group.active {
  opacity: 1;
  transform: translateY(0);
}

/* Loader */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-grow {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 30px rgb(53, 53, 255);
  vertical-align: text-bottom;
  background-color: rgb(59, 59, 196);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow 1s linear infinite;
  animation: spinner-grow 1s linear infinite;
}

@keyframes grow {
  to {
    transform: rotate(360deg);
  }
}

/* card 2 only */
#cardl {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

#cardl.visible {
  opacity: 1;
  transform: translateX(0);
}

#cardr {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

#cardr.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Drop-Down Menu */
.dropdown-menu {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

