@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../images/mainbg.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}


.form-box {
    position: absolute;
    width: 450px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    overflow:auto;
}

/* scrollbar styles */
.form-box::-webkit-scrollbar {
    width: 17px;
}

.form-box::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0px 60px 60px 0px;
}

.form-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.form-box::-webkit-scrollbar-corner {
    background-color: transparent;
    border-radius: 20px;
}


h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top:1.5em;
}


.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.manage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: #fff;
    left: 5px;
    align-items: last baseline;
}


.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;   
    color: #fff;
}

.inputbox input:-webkit-autofill,
.inputbox input:-webkit-autofill:hover, 
.inputbox input:-webkit-autofill:focus {
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    caret-color: #fff !important;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 1em;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.back-to-home {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.back-to-home:hover {
    background: transparent;
    cursor: pointer;
}

.back-to-home i {
    color: #000000;
}

.back-to-home:hover i {
    color: #ffffff;
}