/* carosuel */
.carousel-item img {
    margin: 0 5px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

@media only screen and (max-width: 888px) {
    .carousel-item img {
        height: 50vh !important;
    }
}

.border-c {
    border: 2px solid lightgrey;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* Customs */
.btn-custom-hover:hover {
    background-color: #ffffff !important;
}

.dropdown-menu {
    margin-right: 30px;
}

.round {
    border-radius: 30px;
}

/* navbar */
.navcolour {
    background-color: #008080;
    color: #FFD700;
}

.loginbtn
{
    position: relative;
    color: cyan;
    background: transparent;
    border: solid cyan 2px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1.0s;
}
.loginbtn:hover
{
    position: relative;
    text-shadow: 0 0 5px cyan;
    background: cyan;
    border: 2px solid cyan;
}
.landing{
    background-color: transparent;
}
.landing p{
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px #ccc;
  }

  .landing h1 {
    font-size: 36px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    margin-bottom: 30px;
  }

  .landing p {
    font-size: 18px;
    line-height: 1.5;
    color:burlywood;
    text-align: justify;
    margin-bottom: 0;
  }

  /* .headcontent{
    color:coral;    
  } */